<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spellcardlibrary.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Table_kouma"
            android:label="@string/title_activity_table_kouma" >
        </activity>
        <activity
            android:name=".Table_youmu"
            android:label="@string/title_activity_table_youmu" >
        </activity>
        <activity
            android:name=".Table_suimu"
            android:label="@string/title_activity_table_suimu" >
        </activity>
        <activity
            android:name=".Table_eiya"
            android:label="@string/title_activity_table_eiya" >
        </activity>
        <activity
            android:name=".Table_kaei"
            android:label="@string/title_activity_table_kaei" >
        </activity>
        <activity
            android:name=".Table_bunka"
            android:label="@string/title_activity_table_bunka" >
        </activity>
        <activity
            android:name=".Table_fuzin"
            android:label="@string/title_activity_table_fuzin" >
        </activity>
        <activity
            android:name=".Table_hisou"
            android:label="@string/title_activity_table_hisou" >
        </activity>
        <activity
            android:name=".Table_tirei"
            android:label="@string/title_activity_table_tirei" >
        </activity>
        <activity
            android:name=".Table_seiren"
            android:label="@string/title_activity_table_seiren" >
        </activity>
        <activity
            android:name=".Table_tensoku"
            android:label="@string/title_activity_table_tensoku" >
        </activity>
        <activity
            android:name=".Table_ds"
            android:label="@string/title_activity_table_ds" >
        </activity>
        <activity
            android:name=".Table_daisen"
            android:label="@string/title_activity_table_daisen" >
        </activity>
        <activity
            android:name=".Table_sinrei"
            android:label="@string/title_activity_table_sinrei" >
        </activity>
        <activity
            android:name=".Table_sinki"
            android:label="@string/title_activity_table_sinki" >
        </activity>
        <activity
            android:name=".Table_kisin"
            android:label="@string/title_activity_table_kisin" >
        </activity>
        <activity
            android:name=".Table_amnjk"
            android:label="@string/title_activity_table_amnjk" >
        </activity>
    </application>

</manifest>
